<div data-hook="admin_blog_edit_form_header">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @blog } %>
  <h1><%= t(:edit_blog) %></h1>
</div>

<div data-hook="admin_blog_edit_form">
  <%= semantic_form_for([:admin, @blog], :html => { :enctype => "multipart/form-data" }) do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>

    <div data-hook="admin_blog_edit_form_buttons">
      <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
    </div>
  <% end %>
</div>