<h1><%= t(:blog) %></h1>

<table>
	<tr data-hook="name">
		<th><%= t(:name) %></th>
		<td>
			<%= @blog.name %>
		</td>
	</tr>
	<tr data-hook="description">
		<th><%= t(:description) %></th>
		<td>
			<%= @blog.description %>
		</td>
	</tr>
	<tr data-hook="image">
		<th><%= t(:image) %></th>
		<td>
			<%= image_tag(@blog.image.url(:thumbnail)) %>
		</td>
	</tr>
</table>

<p>
	<%= link_to_edit @blog, :class => 'edit_blog' %> <%= t(:or) %>
	<%= link_to t(:back), collection_url %>
</p>