<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:store_settings) %>
<% end %>

<%= form_tag admin_store_settings_path, :method => :put do %>
  <div id="preferences" data-hook>

    <fieldset class="general no-border-top">
      <% @preferences_store.each do |key|
          type = Spree::Config.preference_type(key) %>
          <div class="field">
            <%= label_tag(key, t(key) + ': ') + tag(:br) if type != :boolean %>
            <%= preference_field_tag(key, Spree::Config[key], :type => type) %>
            <%= label_tag(key, t(key)) + tag(:br) if type == :boolean %>
          </div>
      <% end %>

      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button t(:update), 'icon-refresh' %>
        <span class="or"><%= t(:or) %></span>
        <%= link_to_with_icon 'icon-remove', t(:cancel), edit_admin_store_settings_url, :class => 'button' %>
      </div>

    </fieldset>

  </div>

<% end %>
