<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t("simple_cms.store_settings") %></h1>

<table data-hook="preferences">
  <% @preferences.each do |key| %>
  <tr>
    <th scope="row"><%= t(key) %>:</th>
    <td><%= Spree::Config[key] %></td>
  </tr>
  <% end %>
</table>

<p><%= link_to_with_icon 'edit', t(:edit), edit_admin_store_settings_path, :id => 'admin_store_settings_link' %></p>