<% content_for :page_actions do %>
  <li><%= button_link_to t(:back_to_static_pages_list), admin_static_pages_url, :icon => 'icon-arrow-left' %></li>
  <li id="new_static_page_link">
    <%= button_link_to t(:new_static_page), new_object_url, { :remote => true, :icon => 'icon-plus', :id => 'admin_new_static_page' } %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/static_page_tabs', :locals => { :current => 'Static Page Details' } %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @static_page } %>

<%= form_for [:admin, @static_page], :method => :put, :html => { :multipart => true } do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>