<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li id="new_page_link">
      <%= button_link_to t(:new_page), new_object_url, {:remote => true, :icon => 'add', :id => 'admin_new_page'} %>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= t(:listing_pages) %></h1>

<table class="index sortable" id="listing_pages" data-hook data-sortable-link="<%= update_positions_admin_static_pages_url %>">
	<thead>
		<tr data-hook="admin_pages_index_headers">
			<th><%= sort_link @search,:title, t(:page), {}, {:title => t(:title)} %></th>
			<th><%= t(:position) %></th>
			<th><%= t(:in_nav_menu) %></th>
			<th><%= t(:published_at) %></th>
			<th data-hook="admin_static_pages_index_header_actions"></th>
		</tr>
	</thead>
	<tbody>
		<% @collection.each do |sp|%>
		<tr id="<%= spree_dom_id sp %>" data-hook="admin_static_pages_index_rows">
			<td width="270px" class='page_name'>
				<span class="handle"></span>
				<%= sp.name %>
			</td>
			<td><%= sp.position %></td>
			<td><%= sp.in_nav_menu %></td>
			<td><%= l(sp.published_at, :format => :short) rescue "" %></td>
			<td class="actions" data-hook="admin_pages_index_row_actions">
				<%= link_to_edit sp, :class => 'edit' %> &nbsp;
				<%= link_to_delete sp %>
				<% unless sp.published? %>
				<%= link_to_with_icon 'tick', t('published'), {:action => 'published', :id => sp.id} %>
				<% end %>
				<% if (sp.in_nav_menu.blank? || sp.in_nav_menu != 1) %>
				<%= link_to_with_icon 'tick', t('in_nav_menu'), {:action => 'in_nav_menu', :id => sp.id} %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= paginate @static_pages %>


