<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @static_page } %>

<%= form_for [:admin, @static_page], :html => { :multipart => true } do |f| %>
<fieldset data-hook="new_static_page">

	<%= f.field_container :name do %>
		<%= f.label :name, t(:name) %> <span class="required">*</span><br />
		<%= f.text_field :name, :class => 'fullwidth title' %>
		<%= f.error_message_on :name %>
	<% end %>

	<div class="clearfix" data-hook="new_static_page_attrs">
		<div class="left" style="width: 69%;">
			<%= f.field_container :content do %>
				<%= f.label :content, t(:content) %><br />
				<%= f.cktext_area :content, :rows => 16, :class => "fullwidth" %>
				<%= f.error_message_on :content %>
			<% end %>

		</div>
		<div class="right" style="width: 30%;">
			
			<%= f.field_container :meta_keywords do %>
				<%= f.label :meta_keywords, t(:meta_keywords) %><br />
				<%= f.text_field :meta_keywords %>
				<%= f.error_message_on :meta_keywords %>
			<% end %>
			
			<%= f.field_container :meta_description do %>
				<%= f.label :meta_description, t(:meta_description) %><br />
				<%= f.text_field :meta_description %>
				<%= f.error_message_on :meta_description %>
			<% end %>

			<%= f.field_container :attachment do %>
				<%= f.label :attachment, t(:attachment) %><br />
				<%= f.file_field :attachment %>
				<%= f.error_message_on :attachment %>
			<% end %>

			<p>
				<%= f.label :published_at, t(:published_at) %><br />
				<%= f.error_message_on :published_at %>
				<%= f.text_field :published_at, :class => 'datepicker', :style => "width:150px" %>
			</p>

		</div>
	</div>

	<%= render :partial => 'spree/admin/shared/new_resource_links' %>

</fieldset>
<% end %>