<h1><%= t(:new_page) %></h1>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @static_page } %>

<%= form_for [:admin, @static_page], :html => { :multipart => true } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/new_resource_links' %>
<% end %>
