<h1><%= t("simple_cms.page.show_page") %></h1>

<table>
	<tr data-hook="name">
		<th><%= t("simple_cms.page.name") %></th>
		<td>
			<%= @static_page.name %>
		</td>
	</tr>
	<tr data-hook="description">
		<th><%= t("simple_cms.page.content") %></th>
		<td>
			<%= raw @static_page.content %>
		</td>
	</tr>
	<tr data-hook="image">
		<th><%= t("simple_cms.page.image.one") %></th>
		<td>
			<%= image_tag(@static_page.image.url(:thumbnail)) %>
		</td>
	</tr>
</table>

<p>
	<%= link_to_edit @static_page, :class => 'edit_page' %> <%= t(:or) %>
	<%= link_to t(:back), collection_url %>
</p>