<%= javascript_include_tag 'admin/tags' %>
<div data-hook="admin_page_form_fields">
	<%= f.inputs do %>
		<%= f.input :name, :label => t(:name) %>
        <%= f.label :content,:label => t(:content) %>
		<%= f.cktext_area :content, :input_html => { :value => @post.content } %>
		<%= f.input :published_at, :as => :string, :input_html => { :class => 'datepicker'},:label => t(:published_at) %>
		<%= f.input :active %>
		
      <h3> Tags </h3>
      <p> <%= t(:insert_tag_instruction) %> </p>
      <%= f.input :tag_list, :label => t(:tag_list) %>
	<% end %>
</div>