<%= javascript_include_tag 'admin/tags' %>

<div data-hook="admin_post_form_fields">
	<div class="clearfix">
		<div class="left" data-hook="admin_post_form_left">
			<%= f.field_container :name do %>
				<%= f.label :name, t(:name) %> <span class="required">*</span><br />
				<%= f.text_field :name, :class => 'fullwidth title' %>
				%= f.error_message_on :name %>
			<% end %>

			<%= f.field_container :body do %>
				<%= f.label :body, t(:body) %><br />
				<%= f.text_area :body, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
				<%= f.error_message_on :body %>
			<% end %>
			
			<%= form.field_container :tag_list do %>
			  <%= form.label :tag_list, t(:tag_list) %><br />
			  <%= form.text_field :tag_list, :class => 'text' %><br />
			  <%= error_message_on :post, :tag_list %>
			<% end %>
		</div>
		<div class="right" data-hook="admin_post_form_right">
			<%= f.field_container :permalink do %>
				<%= f.label :permalink, t(:permalink) %> <span class="required">*</span><br />
				<%= f.text_field :permalink, :class => 'fullwidth title' %>
				<%= f.error_message_on :permalink %>
			<% end %>

			<%= f.field_container :published_at do %>
				<%= f.label :published_at, t(:published_at) %><br />
				<%= f.error_message_on :published_at %>
				<%= f.text_field :published_at, :class => 'datepicker' %>
			<% end %>
		</div>
	</div>

	<h2><%= t(:metadata) %></h2>
	<div data-hook="admin_post_form_meta">
		<%= f.field_container :meta_keywords do %>
			<%= f.label :meta_keywords, t(:meta_keywords) %><br />
			<%= f.text_field :meta_keywords, :class => 'fullwidth' %>
		<% end %>

		<%= f.field_container :meta_description do %>
			<%= f.label :meta_description, t(:meta_description) %><br />
			<%= f.text_field :meta_description, :class => 'fullwidth' %>
		<% end %>
	</div>
	
	<h2>Tags</h2>
	<div data-hook="admin_post_tags">
		<p><%= t(:insert_tag_instruction) %></p>
		<%= f.input :tag_list, :label => t(:tag_list) %>
		<% Vibratori::Tag.order(:name).each do |v| %>
		<span class="tags">
			<%= check_box_tag v.id, v.name %>
			<%= label_tag v.id, v.name.upcase %>
		</span>
		<% end %>
	</div>
</div>