<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <p><%= button_link_to t(:new_post), new_object_url, :icon => 'add', :id => 'admin_new_post_link' %></p>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= t(:listing_posts) %></h1>

<table class="index" id="listing_blogs" data-hook>
  <thead>
    <tr data-hook="admin_blogs_index_headers">
      <th><%= sort_link @search,:name, t(:post), {}, {:title => 'blog_name_title'} %></th>
	  <th><%= t(:published_at) %></th>
      <th data-hook="admin_users_index_header_actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post|%>
      <tr id="<%= dom_id post %>" data-hook="admin_blogs_index_rows">
        <td width="270px" class='blog_name'><%=link_to post.name, object_url(post) %></td>
		<td width="80px" class='blog_published_at'><%= l post.published_at %></td>
        <td data-hook="admin_blogs_index_row_actions">
          <%= link_to_edit post, :class => 'edit' %> &nbsp;
          <%= link_to_delete post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>

