<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<%= render :partial => 'js_head' %>

<% content_for :page_title do %>
  <%= t(:taxonomy_post_edit) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:back_to_taxonomy_posts_list), spree.admin_taxonomy_posts_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<div id="ajax_error" class="errorExplanation" style="display:none;"></div>

<%= form_for [:admin, @taxonomy_post] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div>
      <%= label_tag nil, t(:tree) %><br />
      <div id="taxonomy_post_tree" class="tree" data-url="<%= admin_taxonomy_post_taxon_posts_path @taxonomy_post %>"></div>
    </div>
    <div id="progress" style="display:none;">
      <%= image_tag 'spinner.gif', :title => 'Spinner', :style => "vertical-align:bottom;" %> <%= t(:updating) %>..
    </div>

    <div class="info"><%= t(:taxonomy_post_tree_instruction) %></div>

    <br>

    <div class="filter-actions actions">
      <%= button t(:update), 'icon-refresh' %>
      <span class="or"><%= t(:or) %></span>
      <%= button_link_to t(:cancel), admin_taxonomy_posts_path, :icon => 'icon-remove' %>
    </div>
  </fieldset>
<% end %>

<% content_for :head do %>
  <%= javascript_tag do -%>
    var initial = [
      { "attr" :
      { "id" : "<%= @taxonomy_post.root.id %>", "rel" : "root" },
      "data" : "<%= escape_javascript(raw(@taxonomy_post.root.name)) %>",
      "state" : "open",
      "children" : [
        <% @taxonomy_post.root.children.each_with_index do |taxon_post,i| %>
          {
            "attr" :
            { "id" : "<%= taxon_post.id %>"},
            "data" : "<%= escape_javascript(raw(taxon_post.name)) %>"
            <% unless taxon_post.children.empty? %>
              ,"state" : "closed"
            <% end %>
          }<%= ',' if i < (@taxonomy_post.root.children.size - 1) %>
        <% end %>
      ]
        }
    ];
  <% end -%>
<% end %>
