<div data-hook="admin_page_form_fields">
	<%= f.inputs do %>
		<%= f.input :name, :label => t("simple_cms.page.name") %>
		<%= f.input :tag_title, :label => t("simple_cms.page.tag_title") %>
		<%= f.input :meta_description, :label => t("simple_cms.page.meta_description") %>
		<%= f.input :meta_keywords, :label => t("simple_cms.page.meta_keywords") %>
		<%= f.cktext_area :content, :input_html => { :value => @page.content }, :label => t("simple_cms.page.content") %>
		<%= f.input :published_at, :as => :string, :input_html => { :class => 'datepicker'}, :label => t("simple_cms.page.published_at") %>
		
		<%= f.input :image_width, :label => t("simple_cms.page.image_width") %>
		<%= f.input :image_height, :label => t("simple_cms.page.image_height") %>

		<%= f.input :image, :as => :file, :label => t("simple_cms.page.image.one").capitalize, :hint => f.object.image.blank? ? f.template.content_tag(:span, t("simple_cms.page.no_image")) : f.template.image_tag(f.object.image.url(:thumbnail)) %>
	<% end %>
</div>