<div class="toolbar" data-hook="toolbar">
	<ul class="actions">
		<li>
			<p><%= button_link_to t("simple_cms.page.new_page"), new_object_url, :icon => 'add', :id => 'admin_new_page_link' %></p>
		</li>
	</ul>
	<br class="clear" />
</div>

<h1><%= t("simple_cms.page.listing_pages") %></h1>

<table class="index" id="listing_pages" data-hook data-hook data-sortable-link="<%= update_positions_admin_pages_url %>">
	<thead>
		<tr data-hook="admin_pages_index_headers">
			<th><%= sort_link @search,:name, t(:page), {}, {:title => t("simple_cms.page.name")} %></th>
			<th><%= t(:published_at) %></th>
			<th data-hook="admin_users_index_header_actions"></th>
		</tr>
	</thead>
	<tbody>
		<% @pages.each do |page|%>
		<tr id="<%= dom_id page %>" data-hook="admin_pages_index_rows">
			<td width="270px" class='page_name'>
				<span class="handle"></span>
				<%=link_to page.name, object_url(page) %>
			</td>
			<td width="80px" class='page_published_at'><%= l page.published_at %></td>
			<td data-hook="admin_pages_index_row_actions">
				<%= link_to_edit page, :class => 'edit' %> &nbsp;
				<%= link_to_delete page %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= paginate @pages %>


<% content_for :sidebar do %>
<div class="box" data-hook="admin_pages_index_search">
	<h3><%= t(:search) %></h3>
	<% @search = Spree::Page.search %>
	<%= form_for [:admin, @search] do |f| %>
	<p>
		<%= t("simple_cms.page.name") %><br />
		<%= f.text_field :name_contains, :size =>18 %>
	</p>
	<div data-hook="admin_pages_index_search_buttons">
		<p><%= button t("simple_cms.page.search") %></p>
	</div>
	<% end %>
</div>
<% end %>