<div id="right_col" class="grid_3">

	<div id="information_module" class="s_box">
		<h2><%= t("simple_cms.page.information") %></h2>
		<ul class="s_list_1">
			<li> <%= link_to t(:who_we_are), page_path("chi-siamo") %> </li>
			<li> <%= link_to t(:privacy), page_path("privacy") %> </li>
			<li> <%= link_to t(:terms), page_path("terms") %> </li>
			<li> <%= link_to t(:contacts), contacts_path() %> </li>
			<li> <%= link_to t(:maps), pages_path("maps") %> </li>
		</ul>
	</div>

	<div id="bestseller_side" class="s_box clearfix">
		<h2><%= t(:most_sell_products) %></h2>
		<%= render :partial => 'spree/shared/sidebar_products', :locals => {:products => most_sell_products} %>
	</div>

	<div id="featured_side" class="s_box clearfix">
		<h2><%= t(:out_products) %></h2>
		<%= render :partial => 'spree/shared/sidebar_products', :locals => {:products => out_products(3)} %>
	</div>

</div>
